.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #000F08;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #454648;
  font-size: 8rem;
  color: #DE7C5A;
}

p {
  font-size: 2rem;
  color: #DE7C5A;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #47682C;
  text-shadow: 0.2px 0.2px #454648;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button {
  height: 50px;
  width: 170px;
  border: 0.2px solid #47682C;
  border-radius: 1.4rem;
  background-color: #47682C;
  font-family: 'Lobster',cursive;
  font-size: larger;
  display: block;
  margin: 10% auto;
}

button:hover {
  background-color: #94b47b;
}
